body {
  font-family: 'Iosevka';
  font-size: 10px;
  background-color: #1c1b1b;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(145deg, #1a1919, #0e0d0d);
  box-shadow: 2px 2px 5px 0px rgba(13, 10, 10, 0.35), inset -3px 3px 7px #100f0f,
    inset 3px -3px 7px #100f0f;
  animation: show-toast 0.5s forwards;
  animation: shake-toast 1s;
}

.toast--success {
  border-color: #2ecc71;
}

.toast--warning {
  border-color: #f1c40f;
}

.toast--error {
  border-color: #e74c3c;
}

.toast__title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.toast__progress {
  height: 5px;
  border: none;
  background-color: #1a1919;
  box-shadow: inset 0px 0px 4px #0d0c0c, 0px 0px 4px #0d0c0c;
  animation: progress linear var(--duration) s;
}

.toast__progress--success {
  background-color: #2ecc71;
}

.toast__progress--warning {
  background-color: #f1c40f;
}

.toast__progress--error {
  background-color: #e74c3c;
}

/* .toast__progress {
  height: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2),
    inset 0px 0px 5px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(0, 0, 0, 0.3),
    inset 0px -2px 5px rgba(0, 0, 0, 0.3), 0px 2px 5px rgba(0, 0, 0, 0.3),
    0px -2px 5px rgba(0, 0, 0, 0.3);
  background-color: #5d5ec6;
  animation: progress linear var(--duration) s;
}

.toast__progress--success {
  background-color: #2ecc71;
}

.toast__progress--warning {
  background-color: #f1c40f;
}

.toast__progress--error {
  background-color: #e74c3c;
} */

/* .toast__progress {
  height: 5px;
  border: white;
  background-color: #5d5ec6;
  animation: progress linear var(--duration) s;
}

.toast__progress--success {
  background-color: green;
}
.toast__progress--warning {
  background-color: #f1c40f;
}

.toast__progress--error {
  background-color: #e74c3c;
}
*/
@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.toast__message {
  display: flex;
  align-items: center;
  margin: 10px 20px 20px;
}

.toast__message i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.toast__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
}

.toast__close:hover {
  opacity: 1;
}

.toast--hide {
  animation: hide-toast 0.5s forwards;
}

@keyframes hide-toast {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes show-toast {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake-toast {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
